div{
	margin-top: 5px;
	margin-bottom: 5px;
}

p{
	margin-bottom: 0;
	padding-bottom: 0;
}
textarea{
	margin-top: 0;
}
.header
{
	display: flex;
	background-color: khaki;
}
#ans
{
	background-color: black;
	color: white;
}
p{
	font-weight: bold;
}